@model List<Train>
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Trains List</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Train" asp-action="Create" class="btn btn-primary"><i class="far fa-plus-square"></i>&nbsp; Create New</a>
        </div>
    </div>
    <table class="table table-striped mt-4">
        <thead class="bg-info">
            <tr>
                <th>
                    Train
                </th>
                <th>
                    Capacity
                </th>
                <th>
                    Status
                </th>
                <th class="col-2">
                    View/Edit/Delete
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td>
                        @obj.Name
                    </td>
                    <td>
                        @obj.Capacity
                    </td>
                    <td>
                        @obj.Status
                    </td>
                    <td>
                        <div class="w-100 btn-group" role="group">
                            <a asp-controller="Train" asp-action="Details" asp-route-id="@obj.TrainNo" class="btn btn-success"><i class="fas fa-eye"></i></a>
                            <a asp-controller="Train" asp-action="Update" asp-route-id="@obj.TrainNo" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                            <a asp-controller="Train" asp-action="Delete" asp-route-id="@obj.TrainNo" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>