@model List<Train>
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Trains List</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Train" asp-action="Create" class="btn btn-primary"><i class="far fa-plus-square"></i>&nbsp; Create New</a>
        </div>
    </div>
    <table class="table table-bordered table-striped mt-4">
        <thead class="thead-dark">
            <tr>
                <th>
                    Train
                </th>
                <th>
                    Capacity
                </th>
                <th>
                    Seats Booked
                </th>
                <th>
                    Seats Available
                </th>
                <th>
                    Station
                </th>
                <th>
                    City
                </th>
                <th>
                    Edit/Delete
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td>
                        @obj.Name
                    </td>
                    <td>
                        @obj.Capacity
                    </td>
                    <td>
                        @obj.SeatsBooked
                    </td>
                    <td>
                        @obj.SeatsAvailable
                    </td>
                    <td>
                        @obj.Station.Name
                    </td>
                    <td>
                        @obj.Station.City
                    </td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Train" asp-action="Update" asp-route-id="@obj.TrainNo" class="btn btn-primary mx-2"><i class="fas fa-edit"></i></a>
                            <a asp-controller="Train" asp-action="Delete" asp-route-id="@obj.TrainNo" class="btn btn-danger mx-2"><i class="fas fa-trash-alt"></i></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>