@using System.Globalization;
@model RailwayReservationSystem.Models.ViewModels.BookingCartVM

<form method="post" class="py-5">
	<div class="card container">
		<div class="card-header bg-info py-4 row align-items-center">
			<div class="col-12 col-md-6">
				<h1 class="text-light mb-0">
					<i class="fas fa-shopping-bag"></i> &nbsp;CHECKOUT
				</h1>
			</div>
			<div class="col-12 col-md-6 text-right">
				<a asp-area="User" asp-controller="Cart" asp-action="Index" class="btn btn-dark">BACK TO CART</a>
			</div>
		</div>
		<div class="card-body">
			<div class="container rounded p-2">
				<div class="row">
					<div class="col-12 col-lg-6 pb-4">
						<div class="row">
							<h4 class="d-flex justify-content-between align-items-center mb-0">
								<span class="text-info">USER DETAILS</span>
							</h4>
						</div>
						<div class="row mt-4 mb-1">
							<div class="col-3">
								<h5>NAME:</h5>
							</div>
							<div class="col-9">
								<h5 class ="text-muted">@Model.OrderHeader.Name.ToUpper()</h5>
							</div>
						</div>
						<div class="row my-1">
							<div class="col-3">
								<h5>AGE:</h5>
							</div>
							<div class="col-9">
								<h5 class ="text-muted">@Model.OrderHeader.Age</h5>
							</div>
						</div>
						<div class="row my-1">
							<div class="col-3">
								<h5>GENDER:</h5>
							</div>
							<div class="col-9">
								<h5 class="text-muted">@Model.OrderHeader.Gender.ToUpper()</h5>
							</div>
						</div>
						<div class="row my-1">
							<div class="col-3">
								<h5>CONTACT:</h5>
							</div>
							<div class="col-9">
								<h5 class="text-muted">@Model.OrderHeader.PhoneNumber.ToUpper()</h5>
							</div>
						</div>

						@*@foreach (var item in Model.CartList)
						{
							<hr />
							<div class="row mb-3">
								<h5>
									<strong>
										@(item.Schedule.Source.City + " To " + item.Schedule.Destination.City)
									</strong>
								</h5>
							</div>
							<div class="row my-1">
								<div class="col-2">
									<h6>FROM:</h6>
								</div>
								<div class="col-10">
									<h6>@item.Schedule.Source.Name.ToUpper(), @item.Schedule.Source.City.ToUpper()</h6>
								</div>
							</div>
							<div class="row my-1">
								<div class="col-2">
									<h6>TO:</h6>
								</div>
								<div class="col-10">
									<h6>@item.Schedule.Destination.Name.ToUpper(), @item.Schedule.Destination.City.ToUpper()</h6>
								</div>
							</div>
						}*@
					</div>
					<div class="col-12 col-lg-5 offset-lg-1">
						<h4 class="d-flex justify-content-between align-items-center mb-3">
							<span class="text-info">ORDER SUMMARY</span>
						</h4>
						<ul class="list-group mb-3">
							@foreach (var item in Model.CartList)
							{
							<li class="list-group-item d-flex justify-content-between">
								<div>
									<h6 class="my-0">@(item.Schedule.Source.City + " To " + item.Schedule.Destination.City)</h6>
									<p class="text-muted mb-0">SEATS: @item.Seats</p>
								</div>
									<span class="text-muted">@((item.Schedule.Fare * item.Seats).ToString("C", CultureInfo.CreateSpecificCulture("ur-PK")))</span>
							</li>
							}

							<li class="py-3 list-group-item d-flex justify-content-between bg-light">
								<p class="text-info mb-0">TOTAL (PKR)</p>
								<strong class="text-info">@Model.OrderHeader.OrderTotal.ToString("C", CultureInfo.CreateSpecificCulture("ur-PK"))</strong>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="card-footer">
			<div class="row">
				<div class="col-sm-12 col-lg-4 col-md-6 offset-lg-8 offset-md-6">
					<button type="submit" value="Place Order" class="w-100 btn btn-lg btn-info">CONFIRM BOOKING</button>
				</div>
			</div>
		</div>
	</div>
</form>
