@model List<Schedule>
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Schedule</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Schedule" asp-action="Upsert" class="btn btn-primary"><i class="far fa-plus-square"></i>&nbsp; Add New</a>
        </div>
    </div>
    <table class="table table-striped mt-4">
        <thead class="bg-info">
            <tr>
                <th>
                    Departure
                </th>
                <th>
                    From
                </th>
                <th>
                    Destination
                </th>
                <th>
                    Seats Left
                </th>
                <th>
                    Status
                </th>
                <th>
                    View/Edit/Delete
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var schedule in Model)
            {
                <tr>
                    <td>
                        @schedule.Departure.ToString("dd MMM, yyyy")
                        &nbsp;|&nbsp;
                        @schedule.Departure.ToShortTimeString()
                    </td>
                    <td>
                        @schedule.Source.Name, @schedule.Source.City
                    </td>
                    <td>
                        @schedule.Destination.Name, @schedule.Destination.City
                    </td>
                    <td>
                        @schedule.SeatsAvailable
                    </td>
                    <td>
                        @schedule.Status
                    </td>
                    <td>
                        <div class="w-100 btn-group" role="group">
                            <a asp-controller="Schedule" asp-action="Details" asp-route-id="@schedule.ScheduleId" class="btn btn-success"><i class="fas fa-eye"></i></a>
                            <a asp-controller="Schedule" asp-action="Upsert" asp-route-id="@schedule.ScheduleId" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                            <a asp-controller="Schedule" asp-action="Delete" asp-route-id="@schedule.ScheduleId" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>