@model List<Schedule>
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Schedule</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Schedule" asp-action="Upsert" class="btn btn-primary"><i class="far fa-plus-square"></i>&nbsp; Add New</a>
        </div>
    </div>
    <table class="table table-sm table-bordered table-striped mt-4">
        <thead class="thead-dark text-center">
            <tr>
                <th colspan="2">
                    Departure
                </th>
                <th>
                    From
                </th>
                <th>
                    Destination
                </th>
                <th>
                    Seats Left
                </th>
                <th>
                    Total Seats
                </th>
                <th>
                    Train
                </th>
                <th colspan="2">
                    Arrival
                </th>
                <th>
                    Journey
                </th>
                <th>
                    View/Edit/Delete
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var schedule in Model)
            {
                <tr>
                    <td>
                        @schedule.Departure.ToString("dd MMM, yyyy")
                    </td>
                    <td>
                        @schedule.Departure.ToShortTimeString()
                    </td>
                    <td>
                        @schedule.Source.City
                    </td>
                    <td>
                        @schedule.Destination.City
                    </td>
                    @if (schedule.Train is not null)
                    {
                        <td>
                            @schedule.Train.SeatsAvailable
                        </td>
                        <td>
                            @schedule.Train.Capacity
                        </td>
                        <td>
                            @schedule.Train.Name
                        </td>
                    }
                    else
                    {
                        <td></td><td></td><td></td>
                    }
                    <td>
                        @schedule.Arrival.ToString("dd MMM, yyyy")
                    </td>
                    <td>
                        @schedule.Arrival.ToShortTimeString()
                    </td>
                    <td>
                        @schedule.Journey.ToString(@"hh\:mm") hrs
                    </td>
                    <td>
                        <div class="w-100 btn-group" role="group">
                            <a asp-area="User" asp-controller="Home" asp-action="Details" asp-route-id="@schedule.ScheduleId" class="btn btn-success"><i class="fas fa-eye"></i></a>
                            <a asp-controller="Schedule" asp-action="Upsert" asp-route-id="@schedule.ScheduleId" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                            <a asp-controller="Schedule" asp-action="Delete" asp-route-id="@schedule.ScheduleId" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>