@model RailwayReservationSystem.Models.ViewModels.ScheduleViewModel

<form method="post" class="container w-50 py-4">
    <div class="border rounded-4 p-3">
        <div class="row pb-2">
            <h2 class="text-primary">@(Model.Schedule.ScheduleId == 0 ? "Add Schedule" : "Update Schedule")</h2>
            <hr />
        </div>
        <input asp-for="Schedule.ScheduleId" hidden />
        <div class="mb-3">
            <label asp-for="Schedule.Departure"></label>
            <input asp-for="Schedule.Departure" class="form-control" />
            <span asp-validation-for="Schedule.Departure" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Schedule.Arrival"></label>
            <input asp-for="Schedule.Arrival" class="form-control" />
            <span asp-validation-for="Schedule.Arrival" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Schedule.SourceStationId">Source</label>
            <select asp-for="Schedule.SourceStationId" asp-items="@Model.StationsList" class="form-control">
                <option disabled selected>--Select Station--</option>
            </select>
            <span asp-validation-for="Schedule.SourceStationId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Schedule.DestinationStationId">Destination</label>
            <select asp-for="Schedule.DestinationStationId" asp-items="@Model.StationsList" class="form-control">
                <option disabled selected>--Select Station--</option>
            </select>
            <span asp-validation-for="Schedule.DestinationStationId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Schedule.TrainNo">Train</label>
            <select asp-for="Schedule.TrainNo" asp-items="@Model.TrainsList" class="form-control">
                <option selected value="">--Select Station--</option>
            </select>
            <span asp-validation-for="Schedule.TrainNo" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Schedule.Status">Status</label>
            <select asp-for="Schedule.Status" asp-items="Html.GetEnumSelectList<Schedule.ScheduleStatus>()" class="form-control">
            </select>
            <span asp-validation-for="Schedule.Status" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">@(Model.Schedule.ScheduleId == 0 ? "Create" : "Update")</button>
        <a asp-controller="Schedule" asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</form>