@model RailwayReservationSystem.Models.ViewModels.ScheduleViewModel

@{
    ViewData["Title"] = "Home";
}

<div class="container p-3">
    <div class="text-center">
        <h2 class="display-4">Pak Railways</h2>
        <hr />
        <h4>Search for your Schedule</h4>
    </div>

    <partial name="_SearchBarPartial" />
    <hr />

    @if (Model.ScheduleList != null)
    {
        @if (Model.ScheduleList.Any<Schedule>())
        {
            <table class="table table-striped mt-4">
                <thead class="bg-info">
                    <tr>
                        <th>
                            Departure
                        </th>
                        <th>
                            From
                        </th>
                        <th>
                            Destination
                        </th>
                        <th>
                            Seats Left
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Details
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var schedule in Model.ScheduleList)
                    {
                        <tr>
                            <td>
                                @schedule.Departure.ToString("dd MMM, yyyy")
                                &nbsp;|&nbsp;
                                @schedule.Departure.ToShortTimeString()
                            </td>
                            <td>
                                @schedule.Source.Name, @schedule.Source.City
                            </td>
                            <td>
                                @schedule.Destination.Name, @schedule.Destination.City
                            </td>
                            @if (schedule.TrainNo != null)
                            {
                                <td>
                                    @schedule.SeatsAvailable
                                </td>
                            }
                            else
                            {
                                <td>
                                    ---
                                </td>
                            }
                            <td>
                                @schedule.Status
                            </td>
                            <td>
                                <div class="w-100 btn-group" role="group">
                                    <a asp-controller="Home" asp-action="Details" asp-route-id="@schedule.ScheduleId" class="btn btn-success mx-2 px-2"><i class="fas fa-eye"></i>&nbsp; View</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h3>No Routes Found</h3>
        }

    }
</div>